@media only screen and (min-width: 1440px) {
  .chart-container {
    display: flex;
    justify-content: space-between;
  }

  .chart-container canvas {
    width: 900px !important;
    height: auto !important;
  }
}